/** main.scss */
@use 'global' as *;

*{
  box-sizing: border-box;
  margin:0;
  padding:0;  
  font-family:$font-page;        
}


.contenedor{
  width:100%;
  position:fixed;
  background-color:$colorWhite;

  .header{
    max-width:100%;
    display:flex;

    @include alineado (justify-content, space-around);
    @include alineado (align-items);

    //justify-content:space-around;
    //align-items:center;
    
    font-size:0;
    padding: 1% 0;
    margin-bottom: 0px;   
    border-bottom: 1px solid rgb(216, 214, 214);

    .menu-small{
      display:none;
      @media (max-width:991px) {  
            display:block;
            width:5%;
            margin-right:29%;;
      }
      
      button{
        @media (max-width:991px) { 
              border-width:0;
              background-color:$colorWhite;
              color:$colorBlack;
              cursor:pointer;
        }


      }
       

      i{
        @media (max-width:991px) { 
              font-size:19px;
        }
      }
    }

    .logo{
      img{
        max-width:100%;
        @media (max-width:991px) { 
              width:75%;
          }
      }
      width:9%;
      cursor:pointer;
      margin-left: 1.5%;
      margin-right:1.8%;

      @media (max-width:991px) { 
            width:30%;
            margin-right:28%;
        }
    }

    .navbar{
      width:51%;
      display:flex;
      @include alineado (justify-content, flex-start);
      //justify-content:flex-start;

      & > button{
        @extend %buttonGeneral;
      }

      .btn{
        padding: 1% 1.6%;

        .explore-menu{ 
          font-size:17px;
          font-weight:100;
          line-height:30px;  
        
          color: $colorMenu;  
          @include alineado (text-align, left);
          //text-align: left;
          display: none;

          .explore-list{
            width:30%;
            list-style: none;
            position:absolute;
            border: none;
            background-color:$colorWhite;
            margin:0.4% -1.7%;
            padding:2.7% 0;  

            li{    
              padding:0 3%;
            }
            
            
            i{
              position:absolute;
              left:69%;

            }
            
            .i1{       
              top:9%; 
            }
            
            .i2{    
              top:15.5%; 
            }
            
            .i3{    
              top:22%; 
            }
            
            .i4{       
              top:28.5%; 
            }
            
            .i5{    
              top:35% 
            }
            
            .i6{    
              top:41.5%; 
            }
            
            .i7{       
              top:48%; 
            }
            
            .i9{    
              top:61%; 
            }
            
            .i10{       
              top:67.5%; 
            }
            
            .i11{    
              top:74%; 
            }
            
            .i12{    
              top:80.5%; 
            }
            
            .i13{    
              top:87%; 
            }
            
          }  //Fin explore-list    
          
          @media (min-width: 992px) and (max-width:1199px) {  
            font-size: 13px;
          }

        }  //Fin explore-menu
        &:hover{
          background-color:$colorWhite;
          color:$colorBlueS;
        }

        &:hover > div{
          display:block;
        }

        @media (max-width:991px) {
          display:none;
          }    
      }   //Fin .btn

      

      input{
        border: 1px solid  $colorLetrasInput;
        color: $colorLetrasInput;
        flex-basis: 50%; 
        margin-left: 2%;

        *::-webkit-input-placeholder {
          /* Google Chrome y Safari */
          color: $colorLetrasInput;
        }

        @media (max-width:991px) {
              display:none;
        }    

      }

      .buscar {
        padding:1% 1.4%;
        border-radius:0px;
        margin-left:-1%; 

        @media (max-width:991px) { 
              margin-left: 0%;
              background-color:$colorWhite;
        }

        i{
          @media (max-width:991px) { 
                font-size:19px;
          }
        }

        .fa-search{
          @media (max-width:991px) { 
          color: $colorBlack;
          }
        }

      }

      @media (max-width:991px) { 
            width:5%;
      }

    }  //Fin navbar


    .accion{
      width:40%;
      display:flex;  
      @include alineado (justify-content, flex-end);
      @include alineado (align-items);

     // justify-content: flex-end; 
     // align-items: center;
      text-decoration:none;
      font-size: 14px;


      & > button{
        @extend %buttonGeneral;
        padding: 2% 2.9%;   
        margin-right:5%;
      }

      .btn{
        padding: 1% 1.6%;

        &:hover{
          background-color: $colorBlueS;
        }
      }

      li:first-child #enterprise-link:last-child,
      li:nth-child(2) #student-link:last-child{
        display:none;
      }

      @media (min-width: 992px) and (max-width: 1199px) 
      {
        li:first-child #enterprise-link:first-child,
        li:nth-child(2) #student-link:first-child {
          display: none;
        }
      
        li:first-child #enterprise-link:last-child,
        li:nth-child(2) #student-link:last-child {
          display: block;
        }
      }

      & > *{
        padding:1% 0.1%;
      }
      
      
      a{
        text-decoration:none;
      }
      
      li{
        display:inline-block;
        list-style:none;
        padding:0 18px;   
      }
      
      li:first-child a,
      li:nth-child(2) a{
        color:$colorBlack;
      }
      
      li:last-child a{
        color: $colorBlueTexto;
      }
      
      li a:hover{
        text-decoration:underline;     
        color:$colorBlueTexto; 
      }

      @media (max-width:991px) {
            display:none;
      }    
    }  //Fin accion

    @media (max-width:991px) { 
        @include alineado (justify-content, flex-end);
        //justify-content: flex-end;
   }
    
  }  //Fin header
}  //Fin contenedor

  /* HERO */
.container, 
.hero{
  max-width: 90%;
  margin:0 auto;
  padding-top:10%;

  display:flex;
  @include alineado (align-items);
  @include alineado (justify-content);

  //align-items: center;
  //justify-content:center;

  .hero-title{

      width:41%;
      margin:0 8%;

      & > button{
        @extend %buttonGeneral;
        padding: 4% 11%;
        margin-top:5%;
        border-radius: 3%;
        font-size: 20px;

        @media (max-width:991px) {  
              padding: 4% 0;
              margin-top:6%;
              border-radius: 1%;
              font-size: 18px;
          }
      }

      button:hover{
      background-color: $colorBlueS;      
      }

      .title{
        font-size: 85px;
        padding-right:0;

        @media (max-width:991px) {  
              font-size: 60px;
              padding-right:0;
              @include alineado (text-align);
              //text-align: center;
          }
      }
      
      .subtitle{
        font-size:20px;
        @media (max-width:991px) {  
              font-size:18px;
              @include alineado (text-align);
              //text-align: center;
          }

      }

      @media (max-width:991px) {  
            display:flex;
            flex-direction: column;
            width:100%;
        }

    }  //Fin hero-title

    div > img{
      max-width:100%;
      margin-right: 8%;

      @media (max-width:991px) {  
            display:none;
      }
      
    }    

    @media (max-width:991px) {  
          flex-direction: column;
      }
    
}  //Fin container hero



/* PARTNERS */

.partners{
  width:100%;
  max-height: 300px;
  background-color: rgb(245,245,245);
  padding:64px;
  @include alineado (text-align);
  //text-align:center;    
  margin:30px auto;
  font-size: 27px;
  line-height:33px;
  font-weight: 600;

  .partner-text2,
  .partner-text2:hover{
    color:$colorBlack;
    text-decoration: none;

    .partner2{
      color: $colorBlueTexto;
      text-decoration: none;

      &:hover
      {
        text-decoration:underline;
      }
    } //Fin .partners2

  } //Fin .partner-text2

  .partner-imagenes{
    display:flex;
    @include alineado (justify-content);
    @include alineado (align-items);
    //justify-content:center;
    //align-items:center;  
    max-width:100%;

    & > *{
      padding:4% 0.9%;

      @media (max-width:991px) {  
            max-width:25%;
      }


      & > img{
        @media (max-width:991px) {  
              max-width:90%;
          }
      }
      
    }

    @media (max-width:991px) {   
          flex-wrap:wrap;
          @include alineado (justify-content, space-evenly);
          //justify-content: space-evenly;
    }
 
  }  //Fin .partner-imagenes
  
  @media (max-width:991px) {  
        max-width:100%;
        padding:44px;   
        font-size: 17px;
        line-height:23px;
        font-weight: 100;
    }

} //Fin .partners


/*  GOALS */

.goals{
  width:100%;
  max-height: 600px;
  background-color: $colorWhite;
  padding:5%;
  @include alineado (text-align);
  //text-align:center;    
  margin:3% auto;
  font-size: 43px;
  font-weight: 600;

  .goal-imagenes{
    max-width:100%;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    @include alineado (align-items);
    //align-items: center;

    li{
      width:16%;
      display:inline-flex;
      flex-direction: column;
      @include alineado (align-items);
      //align-items:center; 
      list-style: none;
      @include alineado (text-align);
      //text-align: center;
      font-weight: 600;
      margin:0 1%;    
      
      .goal-text{
        display:block;
        margin-top:3%;   
        
        @media (max-width:991px) {  
              margin-top:1%;    
        }
      }

      .small{
        display:block;
        font-size:20px;
        font-weight: 100;   
        line-height: 29px;

        @media (max-width:991px) {  
              width:40%;
              font-size:17px; 
              line-height: 26px;
        }  
        
      }

      @media (max-width:991px) {  
            display:flex;
            flex-direction: column;   
            width:100%;  
            margin:10% 1%;
      }

    }

    & > *{
      padding:5% 0;
      @media (max-width:991px) {  
            padding:0;
      } 
      
    }

    @media (max-width:991px) {  
          font-size: 17px;
          line-height: 27px; 
          @include alineado (justify-content);
          //justify-content: center;
    }


  } // Fin .goal-imagenes

  @media (max-width:991px) {  
        font-size: 37px;
        font-weight: 600;
  }
}   //Fin .goal




/* MEDIA QUERIES */

/** dispositivos móviles en vista viewport (vertical) */

/** dispositivos pequeños en vista landscape (horizontal) */

/** dispositivos medianos (tablets) */


/** dispositivos grandes (desktops */




/* TAMAÑO DE DISPOSITIVOS */

/** dispositivos móviles en vista viewport (vertical) */
/*@media (max-width:575px)

/** dispositivos pequeños en vista landscape (horizontal) */
/*@media (min-width:576px) and (max-width:767px)

/** dispositivos medianos (tablets) */
/*@media (min-width: 768px) and (max-width:991px)

/** dispositivos grandes (desktops) */
/*@media (min-width: 992px) and (max-width:1199px)

/** dispositivos extra grandes (monitores grandes, tvs) */
/*@media (min-width: 1200px)  */