*{
    box-sizing: content-box;
    margin:0;
    padding:0;
    font-family:'Source Sans Pro', sans-serif; 
}

.goals{
    width:100%;
    max-height: 600px;
    font-size:22px;
    text-align:center;
    font-weight: 600;
}

.title{
    font-size:43px;
    padding:50px;
}

.goal-imagenes{
    display: grid;

    grid-template-columns: repeat(4, 1fr) / 1fr;    
    grid-template-areas:"Icon1 Icon2 Icon3 Icon4"; 
    
    justify-items:center;
    margin:0 20%;
    padding-bottom: 20px;
}

.goal-imagenes div{
    width:76%;
}

.goal-text{
    display:block;
    margin:11% 0;
}

.small{
    display:block;
    font-weight: 100;
    line-height:26px;
}

.item1{
    grid-area: Icon1;   
}

.item2{
    grid-area: Icon2;    
}

.item3{
    grid-area: Icon3;   
}

.item4{
    grid-area: Icon4;    
}

.prueba i{
    font-size: 20px;
}