
.navbar-brand .img-fondo{
    max-width:20%;
}

.fondo-home,
.fondo-footer{
    height:45vh;
    background: url("archivos/fondo2.jfif") center no-repeat, rgb(0, 162, 255);
    background-size:cover;
    /*background-repeat:no-repeat;*/
    /*background-position: center;*/
    background-blend-mode: multiply;
}


.fondo-footer{
    height:25vh;
}

.contenedor-fondo{
    padding-top:6rem;
}

.titulo,
footer div a .boton{
    color:white;
}

.carta{
    border:none;
    width:100%;
}

.carta .cuerpo{
    width:50%;
}

.carta .imagenes{
    width:50%;
}

.imagenes img{
    max-width:100%;
}

/*.cuerpo p{
    font-size:100%;
}*/

.container{
    width:100%
}

.container a{
    width:50%;
}

.container button{
    width:30%;
    background-color: rgb(10, 10, 10);
    font-weight:500;
    color:white;
    border-radius: 1rem;
    border:none;
}

form a img{
    width:40%;
}

.navbar .collapse form a{
    justify-content: flex-end;
}

footer a:hover{
    text-decoration: none;
}

@media screen and (max-width:991px){
    .navbar .collapse form a{
        justify-content: flex-start;
    }
}

